.table  
{
    color: palevioletred; 
    border: 5px solid pink ;
    border-collapse: collapse;
    padding: 2rem; 
    width: 60rem;
    height: 0rem;
}
.header
{
    color: rgb(185, 69, 108);
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    line-height: 25px;
    letter-spacing: 3px;
}
.aside
{
    color:rgb(187, 73, 111) ;
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    line-height: 25px;
    letter-spacing: 3px;
}
.section
{
    color: rgb(194, 97, 129);
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    line-height: 25px;
    letter-spacing: 3px;
}
.asosiy
{
    color: palevioletred;
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    line-height: 25px;
    letter-spacing: 3px;
}
.footer
{
    color: purple;
    margin: 1rem;
    padding: 1rem;
    border: 2px;
    line-height: 25px;
    letter-spacing: 3px
}
.rounded
{
    width: 50%;
    margin-left: 40px;
}
.button, .button 
{
    color: white;
    text-decoration: none;
}